"venv/" 
"__pycache__/" 
"*.pyc" 
".vs/" 
"logs/" 
"backend/database/*.db" 
"backend/database/*.json" 
"node_modules/" 
"build/" 
"frontend/" 
"backend/"
"app.py"
"frontend/src/App.css"
"frontend/src/index.css"
"frontend/src/App.js"
"uploads"