# === Python / Flask ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
backend/venv/

# Logs & Databases
*.log
logs/
backend/database/
database/

# Uploads
uploads/
backend/uploads/

# === React / Frontend ===
frontend/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/package-lock.json

# === Common ===
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
