# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
venv/
.env

# Logs
*.log
logs/
database/

# Uploads
uploads/

# Node / Frontend
node_modules/
dist/
build/
package-lock.json

# VSCode & system files
.vscode/
.DS_Store
Thumbs.db
frontend/

# === Backend ===
backend/venv/
backend/__pycache__/
backend/uploads/
backend/database/
backend/*.db
backend/*.log

# === Frontend ===
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/

# === Common ===
.env
.DS_Store
Thumbs.db
